* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1040px;
  margin: 0 auto;
}
@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato-B";
  src: url(assets/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato-R";
  src: url(assets/fonts/Lato-Regular.ttf);
}

a {
  text-decoration: none;
}
.logo {
  color: #f06c64;
  display: flex;
  align-items: flex-start;

  text-transform: uppercase;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.logo h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.header {
  background-color: #2d303a;
  padding: 34px 0 35px 0;
  box-shadow: 0px 0px 0px 7px #323746;
}
.header--navigation {
  display: flex;
  align-items: flex-end;
}
.navigation {
  width: 410px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
/* .navigation a { */
.item a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 6px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.item a:hover {
  color: #f06c64;
}
.item-selected a {
  color: #f06c64;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.home {
  background-color: #f06c64;
  margin-top: 7px;
  box-shadow: 0 7px 0 0 #ea676b;
}
.home--content {
  padding: 60px 53px 90px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.home--arrow {
  position: absolute;
  width: 18px;
  top: 47%;
}
.arrow_left {
  left: 0;
}
.arrow_right {
  right: 0;
}
.home--arrow:hover {
  background-color: #f05851;
  cursor: pointer;
}

.iphone {
  background-color: #f2f2f2;
  border-radius: 30px;
  height: 510px;
  padding: 20px 10px 20px 10px;
  /* display: flex;
  align-items: center;
  justify-content: flex-start; */

  position: relative;
}
.iphone_vertical {
  box-shadow: 30px 30px 0 0 #ce5d56, 25px 25px 0 0 #ce5d56,
    20px 20px 0 0 #ce5d56, 15px 15px 0 0 #ce5d56, 10px 10px 0 0 #ce5d56;
  margin-right: 90px;
  /* flex-direction: column; */

  /* margin-right: 10px; */
}

.iphone_horizontal {
  box-shadow: 30px -30px 0 0 #ce5d56, 25px -25px 0 0 #ce5d56,
    20px -20px 0 0 #ce5d56, 15px -15px 0 0 #ce5d56, 10px -10px 0 0 #ce5d56;
  /* width: 510px; */
  /* padding: 15px 20px 13px 10px; */
  /* flex-direction: row; */
  transform: rotateZ(90deg);
  margin-right: 110px;
}
.iphone--camera {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #eb5055;
  box-shadow: 1px 1px 3px 2px #d8d8d8, -1px -1px 3px 2px #d8d8d8;
  /**/
  position: absolute;
  top: 20px;
  left: 49%;
}
.iphone--dynamic {
  background-color: #acacac;
  border-radius: 30px;
  width: 38px;
  height: 5px;
  /**/
  position: absolute;
  top: 40px;
  left: 42%;
}
.in_vertical_iphone {
  /* position: absolute;
  top: 70px; */
  margin-top: 50px;
}
.in_horizontal_iphone {
  transform: rotateZ(90deg);
}
.iphone--dynamic-vertical {
  transform: rotateZ(90deg);
}
.iphone--button {
  background-color: #fafafa;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  /**/
  margin: 3px auto;
}
.button_square {
  border-radius: 5px;
  border: 2px solid #c5c5c5;
  height: 18px;
  width: 18px;
}

.services {
  background-color: #f2f2f2;
  margin-top: 7px;
  padding-top: 75px;
  font-family: "Lato", sans-serif;
  padding-bottom: 73px;
  box-shadow: 0 7px 0 0 #ffffff;
}
.services h1 {
  font-size: 32px;
  line-height: 18px;
  color: #666d89;
  font-weight: 950;
  font-family: "Lato-R", sans-serif;
  /* margin-bottom: 35px; */
}
.services--description {
  font-size: 19px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato-R";
  font-weight: 300;
  margin-top: 35px;
  line-height: 1.7;
}
.layout_3_column {
  display: flex;

  justify-content: space-between;
  width: 1039px;

  /* justify-content: space-between; */
}
.layout_3_column--top {
  padding-top: 50px;
}
.layout_3_column--bottom {
  padding-top: 40px;
}

.service {
  display: flex;
  align-items: flex-start;

  width: 350px;
  /* justify-content: space-between; */
}
.service h2 {
  font-size: 20px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-R";
  font-weight: 900;
}
.service div {
  margin-left: 20px;
}
.service--description {
  font-size: 13px;
  /* line-height: 22px; */
  font-stretch: expanded;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 600;
  line-height: 1.7;
  word-spacing: 3px;
  letter-spacing: 0.6px;
  margin-top: 15px;
}
