* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1040px;
  margin: 0 auto;
}
@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato-B";
  src: url(assets/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato-R";
  src: url(assets/fonts/Lato-Regular.ttf);
}

a {
  text-decoration: none;
}
.contact_form {
  background-color: #f06c64;
  box-shadow: 0 7px 0 0 #ea676b;
}
.contact_form--title {
  font-size: 32px;
  line-height: 33px;
  color: #f0d8d9;
  font-family: "Lato-B", Verdana, sans-serif;
  font-weight: 900;
  padding-top: 70px;
  margin-bottom: 24px;
}
.contact_form--describe {
  height: 60px;
  font-size: 20px;
  line-height: 33px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  margin-bottom: 55px;
}
.contact_form--content {
  display: flex;
}
.contact_form--form {
  display: flex;
  flex-direction: column;
}
.input_text {
  border: none;
  background-color: #d6564f;
  border-radius: 5px;
  margin-bottom: 18px;
  height: 42px;
  width: 685px;
  padding-left: 15px;
}
.input_text::placeholder {
  /* color: #e87675; */

  font-size: 12px;
  line-height: 18px;
  color: #f48c8f;
  font-family: "Lato-B";
  font-weight: 400;
  letter-spacing: 1px;
}
.input_text--textarea {
  resize: none;
  height: 223px;
  padding-top: 10px;
}
.contact_form-submit {
  border: none;
  background-color: #ce99cef8;
  color: #f53239;
  height: 50px;
  border-radius: 6px;
  font-family: "Lato-B";
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 0.3s;
  margin-bottom: 7px;
}
.contact_form-submit:hover {
  cursor: pointer;
  background-color: #747170;
  color: #ffffff;
}
.contact_information {
  margin-left: 24px;
  color: #f0d8d9;
  font-family: "Lato-B";
}
h5 {
  font-size: 20px;
  line-height: 20px;

  font-weight: 900;
  letter-spacing: 0.3px;
}
.contact_information--describe {
  /* width: 300px;
height: 175px; */
  font-size: 13px;
  line-height: 24px;
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: 0.6px;
  margin-top: 12px;
  margin-bottom: 22px;
}
.contact_information--pointer {
  display: flex;
  /* justify-content: center; */
  align-items: flex-end;
}
.pointer {
  font-size: 13px;
  line-height: 24px;
  font-family: "Lato";
  font-weight: 400;
  /* letter-spacing: 0.2px; */
  margin-left: 10px;
  color: #f0d8d9;
}
.ico {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
}
.ico-location {
  background-image: url("assets/images/ico-location.png");
}
.ico-tel {
  background-image: url("assets/images/ico-tel.png");
}
.ico-email {
  background-image: url("assets/images/ico-email.png");
}
