* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1040px;
  margin: 0 auto;
}
@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Light.ttf);
}
a {
  text-decoration: none;
}
.logo {
  color: #f06c64;
  display: flex;
  align-items: flex-start;

  text-transform: uppercase;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.logo h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.header {
  background-color: #2d303a;
  padding: 34px 0 35px 0;
  box-shadow: 0px 0px 0px 7px #323746;
}
.header--navigation {
  display: flex;
  align-items: flex-end;
}
.navigation {
  width: 410px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
/* .navigation a { */
.item a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 6px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.item a:hover {
  color: #f06c64;
}
.item-selected a {
  color: #f06c64;
}

.flex {
  display: flex;
  justify-content: space-between;
}
