* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
}
.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}
@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato-B";
  src: url(assets/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato-R";
  src: url(assets/fonts/Lato-Regular.ttf);
}

a {
  text-decoration: none;
}
.logo {
  margin-left: 41px;
  color: #f06c64;
  display: flex;
  align-items: flex-start;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.logo h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.header {
  background-color: #2d303a;
  padding: 30px 0 29px 0;
  box-shadow: 0px 0px 0px 7px #323746;
  z-index: 999;

  width: 100%;
  position: fixed;
}
.header--navigation {
  display: flex;
  align-items: flex-end;
  margin-right: 40px;
}
.navigation {
  width: 370px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.item a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 6px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.item a:hover {
  color: #f06c64;
}
.item-selected a {
  color: #f06c64;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.carousel {
  position: relative;
  padding-top: 80px;
}

.carousel--item {
  display: none;
  position: relative;
  margin: 0 auto;
  animation: 0.5s ease-in-out;
}
.active,
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.item_container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 6px;
}

.home_1 {
  background-color: #f06c64;
  margin-top: 7px;
  box-shadow: 0 6px 0 0 #ea676b;
}
.home_1--content {
  padding: 53px 53px 91px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.arrow {
  position: absolute;
  transform: translateY(-50%);
  top: 47%;
}
.arrow_left {
  left: 206px;
}
.arrow_right {
  right: 206px;
}
.arrow:hover {
  background-color: #f05851;
  cursor: pointer;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.home_2 {
  background-color: #648bf0;
  box-shadow: 0 6px 0 0 #5a83ec;
  margin-top: 7px;
}

.home_2--wrapper {
  position: relative;
}

.slide2_turn_of {
  background-color: black;
  position: absolute;
  top: 111px;
  left: 396px;
  height: 356px;
  width: 203px;
}

.circle {
  background-color: #a3a3a300;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 475px;
  bottom: 85px;
  cursor: pointer;
}

.iphone {
  background-color: #f2f2f2;
  border-radius: 28px;
  height: 460px;
  padding: 20px 11px 20px 11px;
  position: relative;
}
.iphone_vertical {
  box-shadow: 25px 25px 0 0 #ce5d56, 20px 20px 0 0 #ce5d56,
    15px 15px 0 0 #ce5d56, 10px 10px 0 0 #ce5d56;
  margin-right: 35px;
}

.iphone_horizontal {
  box-shadow: 25px -25px 0 0 #ce5d56, 20px -20px 0 0 #ce5d56,
    15px -15px 0 0 #ce5d56, 10px -10px 0 0 #ce5d56;

  transform: rotateZ(90deg);
  margin-right: 110px;
}
.iphone--camera {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #eb5055;
  box-shadow: 1px 1px 3px 2px #d8d8d8, -1px -1px 3px 2px #d8d8d8;

  position: absolute;
  top: 20px;
  left: 49%;
}
.iphone--dynamic {
  background-color: #acacac;
  border-radius: 30px;
  width: 35px;
  height: 5px;

  position: absolute;
  top: 36px;
  left: 42%;
}
.in_vertical_iphone {
  margin-top: 42px;
}
.in_horizontal_iphone {
  transform: rotateZ(90deg);
}
.iphone--dynamic-vertical {
  transform: rotateZ(90deg);
}
.iphone--button {
  background-color: #fafafa;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px auto;
  cursor: pointer;
}
.button_square {
  border-radius: 5px;
  border: 2px solid #c5c5c5;
  height: 16px;
  width: 16px;
}

.services {
  background-color: #f2f2f2;

  padding-top: 68px;
  font-family: "Lato", sans-serif;
  padding-bottom: 59px;
  box-shadow: 0 7px 0 0 #ffffff;
}
.services h1 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 950;
  font-family: "Lato-B", sans-serif;
  margin-left: 40px;
}
.services--description {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato-R";
  font-weight: 300;
  margin-top: 28px;
  margin-left: 39px;
  text-align: justify;
  line-height: 1.7;
}
.layout_3_column {
  display: flex;

  margin-left: 40px;
  margin-right: 22px;
}
.layout_3_column--top {
  padding-top: 44px;
}
.layout_3_column--bottom {
  margin-top: 28px;
}

.service {
  display: flex;
  align-items: flex-start;

  width: 350px;
}
.service h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-R";
  font-weight: 900;
}
.service div {
  margin-left: 20px;
}
.service--description {
  width: 219px;

  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 600;

  margin-top: 10px;
}

.portfolio {
  margin-top: 7px;
  background-color: #2d303a;
  padding-top: 60px;
  padding-bottom: 168px;
  box-shadow: 0 6px 0 0 #323746;
}
.wrapper--portfolio {
  padding: 0 40px;
}
.portfolio--description {
  padding-top: 20px;
  width: 800px;
  text-align: justify;
  font-size: 18px;
  line-height: 25px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
}
.portfolio h3 {
  font-size: 30px;
  line-height: 35px;
  color: #666d89;
  font-family: "Lato-R";
  letter-spacing: 1px;
  font-weight: 900;
}
.portfolio--tags {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  width: 290px;
}
.tag {
  border: 1px solid #666d89;
  border-radius: 5px;
  padding: 0 7px;
  color: #666d89;
  font-size: 12px;
  line-height: 20px;

  font-family: "Lato";
  font-weight: 900;
}
.tag:hover {
  border: 1px solid #dedede;
  color: #dedede;
  cursor: pointer;
}
.tag-selected {
  border: 1px solid #dedede;
  color: #dedede;
}

.portfolio--projects {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 500px;
}
.portfolio--projects li {
  list-style: none;
  width: calc(25vw - 110px);
  height: calc(25vw - 140px);
  margin: 0 8px 8px 0;
}
.portfolio--projects img:hover {
  cursor: pointer;
}
.portfolio--projects li:nth-child(1n + 13) {
  display: none;
}

.layout_4_column {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.layout_4_column img:hover {
  cursor: pointer;
}

.about_us {
  background-color: #f2f2f2;
  margin-top: 6px;
  padding-top: 60px;
  padding-bottom: 61px;
  box-shadow: 0 6px 0 0 #ffffff;
}
.about_us h3 {
  font-size: 30px;
  line-height: 35px;
  color: #666d89;
  font-family: "Lato-B";
  font-weight: 900;
  margin-left: 40px;
}
.about_us--description {
  margin-top: 19px;
  margin-left: 40px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
}
.layout_3_column {
  display: flex;
}
.employee {
  margin-top: 47px;
}
h4 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 25px;
  color: #666d89;
  font-family: "Lato-B";
  font-weight: 900;
  margin-bottom: 5px;
}
.employee--description {
  width: 300px;
  text-align: justify;
  font-size: 12px;

  line-height: 23px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 700;
}
.employee--links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 155px;
  list-style-type: none;
}
.block_shadowed {
  margin-left: 20px;
}

.contact_form {
  margin-top: 6px;
  background-color: #f06c64;
  box-shadow: 0 6px 0 0 #ea676b;
  position: relative;
}
.contact_form--title {
  font-size: 30px;
  line-height: 33px;
  color: #f0d8d9;
  font-family: "Lato-B", Verdana, sans-serif;
  font-weight: 900;
  padding-top: 60px;
  margin-bottom: 20px;
  margin-left: 40px;
}
.contact_form--describe {
  height: 60px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  margin-bottom: 44px;
  margin-left: 40px;
}
.contact_form--content {
  display: flex;
}
.contact_form--form {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.input_text {
  border: none;
  background-color: #d6564f;
  border-radius: 5px;
  margin-bottom: 16px;
  height: 38px;
  width: 620px;
  padding-left: 15px;
}
.input_text::placeholder {
  font-size: 10px;
  line-height: 18px;
  color: #f48c8f;
  font-family: "Lato-B";
  font-weight: 400;
  letter-spacing: 1px;
}
.input_text--textarea {
  resize: none;
  height: 200px;
  padding-top: 10px;
}
.contact_form-submit {
  border: none;
  background-color: #ce99cef8;
  color: #f53239;
  height: 50px;
  border-radius: 6px;
  font-family: "Lato-B";
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 0.3s;
  margin-bottom: 3px;
}
.contact_form-submit:hover {
  cursor: pointer;
  background-color: #747170;
  color: #ffffff;
}
.contact_information {
  margin-left: 20px;
  color: #f0d8d9;
  font-family: "Lato-B";
}
h5 {
  font-size: 18px;
  line-height: 20px;

  font-weight: 900;
  letter-spacing: 0.3px;
}
.contact_information--describe {
  font-size: 12px;
  line-height: 21px;
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: 0.6px;
  margin-top: 9px;
  margin-bottom: 25px;
  text-align: justify;
}
.contact_information--pointer {
  display: flex;
  align-items: flex-end;
}
.pointer {
  font-size: 12px;
  line-height: 20px;
  font-family: "Lato";
  font-weight: 400;
  margin-left: 8px;
  color: #f0d8d9;
}
.ico {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
}
.ico-location {
  background-image: url("assets/images/ico-location.png");
}
.ico-tel {
  background-image: url("assets/images/ico-tel.png");
}
.ico-email {
  background-image: url("assets/images/ico-email.png");
}

.footer {
  background-color: #2d303a;
  margin-top: 6px;
  padding-bottom: 20px;
}
.wrapper--footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.copyright {
  padding-bottom: 10px;
  color: #626984;
  font-size: 12px;
  line-height: 24px;
  font-family: "Lato";
  font-weight: 400;
  margin-left: 40px;
}
.footer--links {
  margin-right: 38px;
}
.employee--links:hover {
  cursor: pointer;
}

#message-block {
  position: absolute;
  width: 100vw;
  height: 114vh;
  top: 0;
  left: 0;
  background: #0008;
}
#message-block.hidden {
  display: none;
}
#close-btn {
  border: 1px solid #420014;
  background-color: #62698400;
  color: #f53239;
  height: 30px;
  border-radius: 6px;
  font-family: "Lato-B";
  transition: all 0.3s;
  padding: 5px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5),
    0 0 1px 1px rgba(0, 1, 6, 0.2);
}
#close-btn:hover {
  background-color: #574257f8;
  color: #24147ef8;
  cursor: pointer;
}

#message {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: calc(50% - 150px);
  border: 1px solid rgba(0, 0, 0, 0.63);
  text-align: center;
  font-family: "Lato-B", Verdana, sans-serif;
  font-size: 22px;
  box-shadow: 0 5px 7px rgba(0, 1, 6, 0.5), 0 0 3px 3px rgba(0, 1, 6, 0.2);
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  background-color: #ffffff91;
}

.hidden {
  opacity: 0;
}
.iphone--turn_of {
  background-color: black;
  position: absolute;
  top: 61px;
  left: 11px;
  height: 340px;
  width: 193px;
}

.project-selected {
  border: 5px solid #f06c64;
}
